<div class="card">
    <img src="https://s2-techtudo.glbimg.com/b3v-mCTmam09F1C0Wjsau93UiyY=/0x0:695x444/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/3/f/fjBhJkS0WABWAvB4MHzw/2015-10-23-video.png">
    <p>Placa de vídeo RTX 3050 6gb 4gb vram GDDR6 FULL HD</p>
    <small>R$ 900,00</small>
    <h2>R$ 599,90</h2>
    <button>        
        <mat-icon aria-hidden="false" aria-label="Shopping cart icon" fontIcon="shopping_cart"></mat-icon>
        Comprar
    </button>
</div>
